.LuciadMap {
  position: relative;
  vertical-align: top;
  display: inline-block;
  color: gray;
  margin: 0px;
  padding: 0px;
  width: 720px;
  height: 480px;
  font: 12px arial, Helvetica Neue;
  overflow: hidden;
  background-color: gray;
}